<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>bancklemeeting</name>
	<displayName><![CDATA[Banckle Meeting]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Display Banckle Meeting Widget.]]></description>
	<author><![CDATA[Masood Anwer]]></author>
	<tab><![CDATA[other]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>